.roomid {
    background-color: #d3d3d363;
    height: 100%;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 5px;
}

.or {
    text-align: center;
    float: left;
    margin-top: 4px;
    width: 6%;
}

.hr47 {
    float: left;
    width: 47%;
}

video {
    width: 350px;
    height: 262px;
    object-fit: cover;
}

video .transformX {
    transform: scaleX(-1);
}

.controls {
    text-align: center;
    display: none;
    z-index: 1;
    position: absolute;
    background-color: #29212184;
    color: #ffffff;
    width: 350px;
    font-size: 40px;
}

.controls i {
    cursor: pointer;
}

.redcontrol {
    color: orangered;
}
